## Pipline

In [2]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler , OneHotEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

import pandas as pd

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
x = df.drop(['Purchased'],axis=1)
y = df['Purchased']

In [6]:
cat_cols = ['Gender']
num_cols = ['Age','EstimatedSalary']

In [7]:
prep = ColumnTransformer(
    transformers=[
        ('cat' , OneHotEncoder(drop='first'),cat_cols) , 
        ('num' , StandardScaler(),num_cols)
    ]
)


pipline = Pipeline(
    steps=[('Preprocessor',prep) , ('classification',GaussianNB())]
)

In [8]:
X_train , X_test , y_train , y_test = train_test_split(x,y,test_size=.20)

In [9]:
pipline.fit(X_train,y_train)

y_pred = pipline.predict(X_test)
accuracy_score(y_test,y_pred)

0.925